
/* Copy and paste your work from yesterday here and start to refactor into flexbox */
body {
	width: 50%;
	min-width: 980px;
	margin: auto; 
	display: block
	
}

.container1 {
	flex-direction: row;

}
nav {
	padding-top: 20px;
    padding-bottom: 20px;
    word-spacing: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 960πpx;
}


.logo {
	
}


a {
	text-decoration: none;
	color: grey;
	margin: 50px;
}

.services-header-img {
	margin: 3%;
	align-items: center;
} 

.img2 { 
	align-items: center;
}

p {
	margin: 3%
}

h3 {
	margin: 3% 
}

.main-lines{
	border-top: 1px solid black;
	border-bottom: 3px solid black;
}

.pFlex{
    width:
}

.flex-container {
	width: 802px;
	padding: 10px;
	margin: 20px; 
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
}

button {
	width: 150px;
	height: 35px;
	text-align: center;
	margin: 1%;
	border-radius: 8px;
	border: 1px solid #000000;
}

.container3 {
    width: 372px;
    height: 431px;
	background-color: lightgrey;
	border: 1px solid #000000;
	padding: 10px;
	margin: 20px; 
}

.container4{
	width: 400px;
	background-color: lightgrey;
	border: 1px solid #000000;
	padding: 10px;
	margin: 20px; 
}

.container5{
	width: 400px;
	background-color: lightgrey;
	border: 1px solid #000000;
	padding: 10px;
	margin: 20px; 
}

.container6{
	width: 400px;
	background-color: lightgrey;
	border: 1px solid #000000;
	padding: 10px;
	margin: 20px; 
}

.container6 {
	width: 400px;
	background-color: lightgrey;
	border: 1px solid #000000;
	padding: 10px;
	margin: 20px; 
}

.container7 {
	width: 400px;
	background-color: lightgrey;
	border: 1px solid #000000;
	padding: 10px;
	margin: 20px; 
}

.container8 {
	width: 400px;
	background-color: lightgrey;
	border: 1px solid #000000;
	padding: 10px;
	margin: 20px; 
}

.bottom-div {
	width: 950px;
	padding: 10px;
	margin: 20px; 
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;

}

.even-line-up{
	padding: 0px;
	margin: 0px;
}

ul li {
	margin: 0px 20px 0px 20px; 
}

.facts-about{
	width: 400px;
	padding: 0px 20px 0px 0px;
	margin: 0px 20px 0px 0px; 
	display: flex;
	-webkit-flex-flow: row wrap;
}
	
footer {
	margin: 65px 0 100px 0;
	text-align: center;
}
